/* Move the (under)line */
/*text in heading 2*/
h2 a {
  text-decoration: none;
  position: relative;
  color: #8a153a;
}
/*time of transition of the underline*/
h2 a::before {
  content: "";
  bottom: 0;
  width: 0;
  height: 0.1rem;
  position: absolute;
  transition: 1s cubic-bezier(0.17, 0.67, 0, 1.01);
}
/*length of the underline*/
a:hover::before {
  left: 0;
  background-color: #8a153a;
  width: 100%;
}
